.studies {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 70vh; */
  /* background-color: #a9c9ff; */
  /* background-image: linear-gradient(180deg, #a9c9ff 0%, #ffbbec 100%); */
}
.studies .container {
  max-width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 35px;
  margin: 0 auto;
  padding: 40px 0;
}
.studies .container .card {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 0 auto;
  background: #000;
  border-radius: 15px;
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
}
.studies .container .card .face {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.studies .container .card .face.face1 {
  box-sizing: border-box;
  padding: 20px;
}
.studies .container .card .face.face1 h2 {
  margin: 0;
  padding: 0;
}
.studies .container .card .face.face1 img {
  margin: 0;
  padding: 0;
}
.studies .container .card .face.face1 .cardText {
  background-color: #fffc00;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5em;
}

.studies .container .card .face.face2 {
  transition: 0.5s;
}
.studies .container .card .face.face2 h2 {
  margin: 0;
  padding: 0;
  font-size: 2em;
  color: #fff;
  transition: 0.5s;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.studies .container .card:hover .face.face2 {
  height: 60px;
}
.studies .container .card:hover .face.face2 h2 {
  font-size: 2em;
}
.studies .container .card:hover .face.face2 img {
  display: none;
}
.studies .container .card .face.face2 {
  background-image: linear-gradient(180deg, #F7FF93 0%, #FEC519 55%, #000000 100%);
  border-radius: 15px;
}

@media screen and (max-width:768px) {
    .studies .container .card {
        width: 200px;
        height: 300px;
      }
}
